*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #353b48;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;

}

.title-body{
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 100%;
    color: #dcdde1;
    
}
.title-body h1{
    text-align: center;
    font-size: 58px;
    text-shadow: black;
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(63, 63, 63, 0.8);
    
}
.title-body .desc{
    margin-bottom: 30px;
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}
.main{
    border-radius: 20px;
    background-color:#2c2b2b;
    width: 60%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    box-shadow: 10px 15px 15px black;
}
.main .picture{
    border-radius: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    width:100% ;
    max-width:600px ;
    height: auto;
    
}
.main .picture img{
    border-radius: 20px;
    height: 600px;
    width: 100%;
    object-fit: cover
}
.desc-picture{
    margin-top:20px;
    width: 100%;
    color:white;
    text-align: center;
}
.desc-picture p{
    font-size: 20px;
}
.section-2{
    width: 60%;
    margin:auto;
}
.icon{
    padding: 30px;
    height: auto;
}
.icon img{
    width: 100%;
    max-width: 300px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section .bio h1{
    color: white;
    text-align: center;
    display: block;
    font-size: 25px;
}
.title-info{
    border-bottom: 1px solid rgb(92, 92, 92);
    margin-bottom: 30px;
}
.title-info h1{
    margin-bottom: 20px;
}
.box-group{
    display: flex;
    width: 100%;
    
    
}
.box{
    padding: 10px;
    margin: auto;
    width: 100%;
    height: 380px;
    max-width: 280px;
    background-color: #bdbdbd;
    border-radius: 10px;   
}
.box p{
margin: 10px;
color: rgb(56, 54, 54);
}
footer {
    margin: 30px;
    color: white;
    text-align: center;
    border-bottom: rgb(100, 98, 98) solid 1px;
    padding: 15px;
    max-width: 800px;
    margin-left: auto;
    margin-right:auto ;
}
footer p{
    font-size: 20px;
}
@media (max-width:400px) {
    .section-2{
        max-width: 350px;
        width: 100%;
        padding: 20px;
    }
    .main .picture img{
        height:250px ;
    }
    .title-body{
      
    }
    .title-body h1{
        font-size: 35px;
        
    }
    .title-body .desc p{
        font-size: 20px;
        margin: 0px;
        padding: 0px;
    }
    
  
}
@media (max-width:500px) {
    .section-2 {
        
        padding: 20px;
    }
    .title-body h1{
        margin: 10px;
    }
}
@media (max-width:600px) {
    .main{
      width: 80%;
    }
    .picture img{
        max-height:400px ;
        
    }
    .section-2{
        max-width: 550px;
        width: 100%;
    }
    .main .picture img{
        height:450px ;
    }
}
@media (max-width:800px) {
    .desc p{
        padding: 40px;
    }
    footer{
        margin: 20px;
    }
}
@media ( max-width: 1405px) {
    .box-group{
        flex-direction: column;
    }
    .box{
        max-width: 100%;
        margin-bottom: 10px;
        height: 100%;
    }
}